/*margin*/
.mT5{margin-top:5px;}
.mT10{margin-top:10px;}
.mT12{margin-top:12px;}
.mT15{margin-top:15px;}
.mT20{margin-top:20px;}
.mT30{margin-top:30px;}
.mT24{margin-top:24px;}

.mB5{margin-bottom:5px;}
.mB10{margin-bottom:10px;}
.mB12{margin-bottom:12px;}
.mB15{margin-bottom:15px;}
.mB20{margin-bottom:20px;}
.mB24{margin-bottom:24px;}
.mB30{margin-bottom:30px;}
.mB50{margin-bottom:50px;}

.mL5{margin-left:5px;}
.mL10{margin-left:10px;}
.mL15{margin-left:15px;}
.mL20{margin-left:20px;}

.mR5{margin-right:5px;}
.mR10{margin-right:10px;}
.mR15{margin-right:15px;}
.mR20{margin-right:20px;}

.mLR5{margin-left:5px; margin-right:5px;}
.mLR10{margin-left:10px; margin-right:10px;}
.mLR15{margin-left:15px; margin-right:15px;}
.mLR20{margin-left:20px; margin-right:20px;}

.mAuto{margin: 0 auto;}

/*padding*/
.pT5{padding-top:5px;}
.pT10{padding-top:10px;}
.pT15{padding-top:15px;}
.pT20{padding-top:20px;}
.pT30{padding-top:30px;}

.pB5{padding-bottom:5px;}
.pB10{padding-bottom:10px;}
.pB15{padding-bottom:15px;}
.pB20{padding-bottom:20px;}
.pB30{padding-bottom:30px;}

.pL5{padding-left:5px;}
.pL10{padding-left:10px;}
.pL15{padding-left:15px;}
.pL20{padding-left:20px;}

.pR5{padding-right:5px;}
.pR10{padding-right:10px;}
.pR15{padding-right:15px;}
.pR20{padding-right:20px;}

.pLR0{padding-left:0px;padding-right:0px;}


/* text-align */
.alignL{text-align:left;}
.alignR{text-align:right;}
.alignC{text-align:center;}

/*text-indent*/
.tI5{text-indent:-5px;margin-left:5px;}
.tI8{text-indent:-8px;margin-left:8px;}
.tI12{text-indent:-12px;margin-left:12px;}
.tI14{text-indent:-14px;margin-left:14px;}
.tI16{text-indent:-16px;margin-left:16px;}
.tI18{text-indent:-18px;margin-left:18px;}
.tI20{text-indent:-20px;margin-left:20px;}

/*font-weight*/
.fntB{font-weight:bold;}
.fntN{font-weight:normal;}
